
@font-face{
    font-family:"FF DIN Thin";
    src:url("ff-din-thin-eot.eot?#iefix") format("eot")
}
@font-face{
    font-family:"FF DIN Regular";
    src:url("ff-din-thin-eot.eot?#iefix");
    src:url("ff-din-thin-eot.eot?#iefix") format("eot"),url("ff-din-thin-woff2.woff2") format("woff2"),url("ff-din-thin-woff.woff") format("woff"),url("ff-din-thin-ttf.ttf") format("truetype");
    font-weight: 250;
    font-style: normal;
}

/*@font-face{
        font-family:"FF DIN Regular";
        src:url("ff-din-regular-eot.eot?#iefix") format("eot")
    }*/

@font-face{
    font-family:"FF DIN Regular";
    src:url("ff-din-regular-eot.eot?#iefix");
    src:url("ff-din-regular-eot.eot?#iefix") format("eot"),url("ff-din-regular-woff2.woff2") format("woff2"),url("ff-din-regular-woff.woff") format("woff"),url("ff-din-regular-ttf.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family:"FF DIN Regular Italic";
    src:url("ff-din-regular-italic-eot.eot?#iefix") format("eot")
}
@font-face{
    font-family:"FF DIN Regular";
    src:url("ff-din-regular-italic-eot.eot?#iefix");
    src:url("ff-din-regular-italic-eot.eot?#iefix") format("eot"),url("ff-din-regular-italic-woff2.woff2") format("woff2"),url("ff-din-regular-italic-woff.woff") format("woff"),url("ff-din-regular-italic-ttf.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family:"FF DIN Medium";
    src:url("ff-din-medium-eot.eot?#iefix") format("eot")
}
@font-face{
    font-family:"FF DIN Regular";
    src:url("ff-din-medium-eot.eot?#iefix");
    src:url("ff-din-medium-eot.eot?#iefix") format("eot"),url("ff-din-medium-woff2.woff2") format("woff2"),url("ff-din-medium-woff.woff") format("woff"),url("ff-din-medium-ttf.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family:"FF DIN Bold";
    src:url("ff-din-bold-eot.eot?#iefix") format("eot")
}
@font-face{
    font-family:"FF DIN Regular";
    src:url("ff-din-bold-eot.eot?#iefix");
    src:url("ff-din-bold-eot.eot?#iefix") format("eot"),url("ff-din-bold-woff2.woff2") format("woff2"),url("ff-din-bold-woff.woff") format("woff"),url("ff-din-bold-ttf.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family:"FF DIN Bold Italic";
    src:url("ff-din-bold-italic-eot.eot?#iefix") format("eot")
}
@font-face{
    font-family:"FF DIN Regular";
    src:url("ff-din-bold-italic-eot.eot?#iefix");
    src:url("ff-din-bold-italic-eot.eot?#iefix") format("eot"),url("ff-din-bold-italic-woff2.woff2") format("woff2"),url("ff-din-bold-italic-woff.woff") format("woff"),url("ff-din-bold-italic-ttf.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon/icomoon.eot?j4rwo0');
  src:  url('../icomoon/icomoon.eot?j4rwo0#iefix') format('embedded-opentype'),
    url('../icomoon/icomoon.ttf?j4rwo0') format('truetype'),
    url('../icomoon/icomoon.woff?j4rwo0') format('woff'),
    url('../icomoon/icomoon.svg?j4rwo0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
